#define JP_ZKHK  GRAVE        // Zenkaku ↔ Hankaku ↔ Kanji (半角 ↔ 全角 ↔ 漢字)
#define JP_MINUS MINUS        // -
#define JP_CARET EQUAL        // ^
#define JP_YEN   INT3         // ¥
#define JP_AT    LBKT         // @
#define JP_LBKT  RBKT         // [
#define JP_EISU  CAPS         // Eisū (英数)
#define JP_SEMI  SEMI         // ;
#define JP_COLON SQT          // :
#define JP_RBKT  NUHS         // ]
#define JP_COMMA COMMA        // ,
#define JP_DOT   DOT          // .
#define JP_SLASH SLASH        // /
#define JP_BSLH  INT1         // (backslash)
#define JP_MHEN  INT5         // Muhenkan (無変換)
#define JP_HENK  INT4         // Henkan (変換)
#define JP_KANA  INT2         // Katakana ↔ Hiragana ↔ Rōmaji (カタカナ ↔ ひらがな ↔ ローマ字)
#define JP_EXCL  LS(N1)       // !
#define JP_DQT   LS(N2)       // "
#define JP_HASH  LS(N3)       // #
#define JP_DLLR  LS(N4)       // $
#define JP_PRCNT LS(N5)       // %
#define JP_AMPS  LS(N6)       // &
#define JP_SQT   LS(N7)       // '
#define JP_LPAR  LS(N8)       // (
#define JP_RPAR  LS(N9)       // )
#define JP_EQUAL LS(JP_MINUS) // =
#define JP_TILDE LS(JP_CARET) // ~
#define JP_PIPE  LS(JP_YEN)   // |
#define JP_GRAVE LS(JP_AT)    // `
#define JP_LBRC  LS(JP_LBKT)  // {
#define JP_CAPS  LS(JP_EISU)  // Caps Lock
#define JP_PLUS  LS(JP_SEMI)  // +
#define JP_ASTRK LS(JP_COLON) // *
#define JP_RBRC  LS(JP_RBKT)  // }
#define JP_LT    LS(JP_COMMA) // <
#define JP_RT    LS(JP_DOT)   // >
#define JP_QMARK LS(JP_SLASH) // ?
#define JP_UNDER LS(JP_BSLH)  // _

#define SC_UP    MOVE_Y(300)
#define SC_DOWN  MOVE_Y(-300)
#define SC_RIGHT MOVE_X(300)
#define SC_LEFT  MOVE_X(-300)
#define MULCR_UP LC(LA(LS(UP)))
#define MULCR_DN LC(LA(LS(DOWN)))
#define WIN_L    LG(LEFT)
#define WIN_D    LG(DOWN)
#define WIN_U    LG(UP)
#define WIN_R    LG(RIGHT)
#define MOVE_WIN LS(WIN_L)
#define PRTSC    LS(LG(S))
#define LANG_JP  LANGUAGE_1
#define LANG_EN  LANGUAGE_2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        ls: ls {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
//            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 38 39 40 41 42 43>;
        };
        rs: rs {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
//            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34 35 36 37>;
        };
    };

    combos {
        compatible = "zmk,combos";

//        left_finger_12 {
//            timeout-ms = <50>;
//            require-prior-idle-ms = <125>;
//            key-positions = <13 12>;
//            bindings = <&tog 1>;
//        };
//
//        left_finger_34 {
//            timeout-ms = <50>;
//            require-prior-idle-ms = <125>;
//            key-positions = <10 11>;
//            bindings = <&tog 1>;
//        };

        right_finger_12 {
            timeout-ms = <50>;
            require-prior-idle-ms = <125>;
            key-positions = <16 17>;
            bindings = <&mkp LCLK>;
        };

        right_finger_34 {
            timeout-ms = <50>;
            require-prior-idle-ms = <125>;
            key-positions = <18 19>;
            bindings = <&mkp RCLK>;
        };

        // Bluetooth Clear
        bt_clear {
            timeout-ms = <50>;
            key-positions = <24 23 22>;
            bindings = <&bt BT_CLR>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        base {bindings = <
&kp Q         &kp W         &kp E         &kp R          &kp T                                       &kp Y        &kp U          &kp I          &kp O          &kp P
&kp A         &kp S         &kp D         &kp F          &kp G                                       &kp H        &kp J          &kp K          &kp L          &lt 1 JP_MINUS
&ls LSHFT Z   &kp X         &kp C         &kp V          &kp B         &kp TAB        &kp ESC        &kp N        &kp M          &kp JP_COMMA   &kp JP_DOT     &kp JP_SLASH
&kp LCTRL     &kp LWIN      &kp LALT      &mo 3          &lt 4 SPACE   &lt 2 LANG_JP  &lt 3 LANG_EN  &lt 5 ENTER  &none          &none          &kp JP_BSLH    &kp RSHFT    >;};

mouse {bindings = <
&trans        &trans        &trans        &trans         &trans                                      &trans       &mkp MB4       &mkp MB5       &trans         &trans
&msc SC_LEFT  &msc SC_DOWN  &msc SC_UP    &msc SC_RIGHT  &trans                                      &trans       &mkp LCLK      &mkp MCLK      &mkp RCLK      &trans
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &msc SC_LEFT &msc SC_DOWN   &msc SC_UP     &msc SC_RIGHT  &trans
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &trans       &trans         &trans         &trans         &trans       >;};

number {bindings = <
&trans        &trans        &trans        &trans         &trans                                      &trans       &trans         &kp N1         &kp N2         &kp N3
&trans        &trans        &trans        &trans         &trans                                      &trans       &trans         &kp N4         &kp N5         &kp N6
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &trans       &trans         &kp N7         &kp N8         &kp N9
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &trans       &trans         &trans         &kp N0         &trans       >;};

symbol {bindings = <
&kp JP_LPAR   &kp JP_LBKT   &kp JP_LBRC   &kp JP_LT      &kt JP_DQT                                  &kt JP_SQT   &kp JP_RT      &kp JP_RBRC    &kp JP_RBKT    &kp JP_RPAR
&kp JP_HASH   &kp JP_UNDER  &kp JP_SLASH  &kp JP_MINUS   &kt JP_PRCNT                                &kt JP_GRAVE &kp JP_PLUS    &kp JP_ASTRK   &kp JP_EQUAL   &kp JP_AT
&kp JP_PIPE   &kp JP_EXCL   &kp JP_TILDE  &kp JP_SEMI    &kt JP_YEN    &trans         &trans         &kt JP_DLLR  &kp JP_COLON   &kp JP_CARET   &kp JP_AMPS    &kp JP_BSLH
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &trans       &trans         &trans         &trans         &trans       >;};

hotkey {bindings = <
&trans        &trans        &trans        &trans         &trans                                      &trans       &trans         &kp MULCR_DN   &kp MULCR_UP   &trans
&kp HOME      &kp PG_DN     &kp PG_UP     &kp END        &trans                                      &trans       &kp LEFT       &kp DOWN       &kp UP         &kp RIGHT
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &trans       &kp BSPC       &kp DEL        &trans         &trans
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &trans       &trans         &trans         &trans         &trans       >;};

function {bindings = <
&kp F1        &kp F2        &kp F3        &kp F4         &kp F5                                      &trans       &trans         &trans         &kp PRTSC      &kp JP_CAPS
&kp F6        &kp F7        &kp F8        &kp F9         &kp F10                                     &trans       &kp WIN_L      &kp WIN_D      &kp WIN_U      &kp WIN_R
&kp F11       &kp F12       &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &trans         &trans         &trans       &kp MOVE_WIN   &trans         &trans         &trans
&trans        &trans        &trans        &trans         &trans        &trans         &trans         &trans       &trans         &trans         &trans         &trans       >;};
    };
};
